.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
    min-height: 300px;
    width: 300px;
    border-radius: 10px;
    .card-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(26, 113, 245);
        height: 60px;
        color: white;
        text-transform: capitalize;
        font-size: 20px;
    }
    .card-body{
        flex: 1 1 100%;
    }

    .card-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(26, 113, 245);
        height: 60px;
    }
}