<div class="content">
    <!--content inner-->
    <div class="content__inner">
        <!--tabs-->
        <div class="tabs">
            <!--tabs navigation-->
            <div class="tabs__nav">
                <ul class="tabs__nav-list">
                    <li class="tabs__nav-item active">Profile</li>
                    <li class="tabs__nav-item">Settings</li>
                    <li class="tabs__nav-item">About Us</li>
                    <li class="tabs__nav-item">FAQ</li>
                </ul>
            </div>
            <!--tabs panels-->
            <div class="tabs__panels">
                <!--single panel-->
                <div class="tabs__panel">
                    <card></card>
                    <card></card>
                    <card></card>
                </div>              
            </div>
        </div>
    </div>
</div>
