<div class="content">
    <!--content inner-->
    <div class="content__inner">
        <!--tabs-->
        <div class="tabs">
            <!--tabs navigation-->
            <ng-container [ngTemplateOutlet]="headerTemplate?headerTemplate:defaultHeader "></ng-container>

            <!--tabs panels-->
            <ng-content></ng-content>
        </div>
    </div>
</div>

<ng-template #defaultHeader>
    <div class="tabs__nav">
        <ul class="tabs__nav-list">
            <li class="tabs__nav-item" [ngClass]="{'active':tab.selected}" *ngFor="let tab of tabs"
                (click)="onSelect(tab)">{{tab.title}}</li>
        </ul>
    </div>
</ng-template>